.featureSection {
  width: var(--max-width);
  margin: 62px auto;
  display: flex;
  align-items: center;
  gap: 32px;
  .featureSection__left {
    flex: 1.5;
    .featureSection__left__img {
      object-fit: cover;
    }
  }
  .featureSection__right {
    flex: 1;
    margin-bottom: 24px;
    .featureSection__right__title {
      font-size: 36px;
      font-weight: 800;
      font-family: "Open Sans", sans-serif;
      color: var(--primary-black);
    }
    .featureSection__right__content {
      display: flex;
      flex-direction: column;
      gap: 42px;
      margin-top: 62px;
      .featureSection__right__content__item {
        display: flex;
        gap: 16px;
        align-items: center;
        .featureSection__right__content__item__icon {
          width: 72px;
          flex: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 72px;
          border-radius: 16px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        .featureSection__right__content__item__text {
          flex: 4.5;
          .featureSection__right__content__item__text__title {
            font-size: 20px;
            font-weight: 800;
            font-family: "Poppins", sans-serif;
            color: var(--primary-black);
          }
          .featureSection__right__content__item__text__description {
            font-size: 14px;
            font-weight: 400;
            font-family: "Open Sans", sans-serif;
            color: var(--primary-black);
          }
        }
      }
    }
  }
}
