.footer {
  margin: 52px auto;
  margin-bottom: 12px;
  width: 100%;
  .footer__top {
    .footer__top__content {
      .footer__top__content__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 500;
        list-style-type: none;
        .footer__top__content__list__item {
          padding: 16px;
        }
      }
    }
  }
  .footer__bottom {
    border-top: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer__bottom__text {
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 500;
      padding: 16px;
    }
  }
}
