.categorySection {
  width: var(--max-width);
  margin: 62px auto;
  .categorySection__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-size: 28px;
      font-weight: 700;
      line-height: 1.5;
      font-family: "Open Sans", sans-serif;
      color: var(--primary-black);
      margin-bottom: 24px;
    }
    .description {
      text-align: center;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      font-family: "Open Sans", sans-serif;
      color: var(--primary-black);
      margin-bottom: 52px;
    }
    .categorySection__card {
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      .categorySection__card__item {
        width: 256px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        gap: 8px;
        .categorySection__card__item__title {
          margin-top: 24px;
          font-size: 16px;
          font-weight: 700;
          line-height: 1.5;
          font-family: "Open Sans", sans-serif;
          color: var(--primary-black);
        }
        .categorySection__card__item__footer {
          height: 24px;
          width: 100%;
          border-bottom-left-radius: 20px;
          border-bottom-right-radius: 20px;
        }
        .categorySection__card__item__description {
          text-align: center;
          font-size: 14px;
          font-weight: 400;
          line-height: 1.5;
          font-family: "Open Sans", sans-serif;
          color: var(--primary-black);
          margin-bottom: 24px;
        }
      }
      .more_category {
        width: 256px;
        background-color: #fff;
        text-align: center;
        padding: 32px;
        border: 1px solid var(--primary-red);
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 700;
        line-height: 1.5;
        font-family: "Open Sans", sans-serif;
      }
    }
  }
}
