.header {
  display: flex;
  align-items: center;
  padding: 0px 32px;
  height: 70px;
  background-color: #fff;
  .topSection__header__logo {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-weight: 700;
    cursor: pointer;
    line-height: 1.2;
  }
  .topSection_red {
    color: #fa4f08;
  }
}
