.job_post {
  background-color: #efefef;
  height: calc(100vh - 70px);
  font-family: "Open Sans", sans-serif;
  overflow-y: scroll;
}
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.field {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
  }

  input,
  textarea {
    width: 100%;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .error {
    color: red;
    margin-top: 5px;
  }
}

.submit_button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
