.jobDetails {
  width: 100%;
  padding: 0px 16px;
  .jobDetails_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .jobDetails_header_h3 {
      font-size: 24px;
      font-weight: 600;
      color: #000;
      font-family: "Open Sans", sans-serif;
    }
    .jobDetails_header_span {
      font-size: 16px;
      font-weight: 400;
      color: #000;
      font-family: "Open Sans", sans-serif;
    }
  }
  .jobDetails__container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-top: 24px;
    .jobDetails__container_item {
      width: 300px;
      background-color: #fff;
      padding: 16px;
      border-radius: 8px;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      .jobDetails__container_item_title {
        margin-top: 8px;
        font-size: 16px;
        font-weight: 600;
        color: #000;
        font-family: "Open Sans", sans-serif;
      }
      .jobDetails__container_item_description {
        margin-top: 12px;
        font-size: 14px;
        font-weight: 400;
        color: #000;
        font-family: "Open Sans", sans-serif;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .jobDetails__container_item_properties {
        margin-top: 16px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        .jobDetails__container_item_properties_item {
          background-color: #e1ebfa;
          padding: 4px 8px;
          border-radius: 4px;
          font-size: 12px;
          font-weight: 400;
          color: #2675ff;
          font-family: "Open Sans", sans-serif;
        }
      }
      .jobDetails__container_item_footer {
        margin-top: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .jobDetails__container_item_footer_apply {
          background-color: #0361ff;
          padding: 8px 16px;
          border-radius: 4px;
          font-size: 14px;
          font-weight: 600;
          color: #fff;
          font-family: "Open Sans", sans-serif;
          cursor: pointer;
        }
        .jobDetails__container_item_footer_save {
          font-size: 12px;
          font-weight: 400;
          color: #000;
          font-family: "Open Sans", sans-serif;
        }
      }
    }
  }
}
