.applySection {
  width: var(--max-width);
  margin: 62px auto;
  .applySection__header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .applySection__header__title {
      font-size: 20px;
      line-height: 1.2;
      font-family: "Poppins", sans-serif;
      color: var(--primary-red);
    }
    .applySection__header__description {
      font-size: 46px;
      line-height: 1.5;
      font-family: "Open Sans", sans-serif;
      color: var(--primary-black);
    }
    .applySection__header__subtitle {
      font-size: 18px;
      text-align: center;
      margin-top: 24px;
      line-height: 1.2;
      font-family: "Poppins", sans-serif;
      color: var(--primary-black);
    }
  }
  .applySection__body {
    padding: 62px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .applySection__body__item {
      position: relative;
      width: 250px;
      height: 250px;
      .applySection__body__item__body {
        position: absolute;
        width: 250px;
        height: 250px;
        z-index: 4;
        padding: 32px;
        border-radius: 48px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
        background-color: #fff;
        .applySection__body__item__icon{
          margin-top: 8px;
        }
        .applySection__body__item__title {
          font-size: 22px;
          margin-top: 12px;
          line-height: 1.2;
          font-family: "Poppins", sans-serif;
          color: var(--primary-black);
        }
        .applySection__body__item__description {
          font-size: 16px;
          margin-top: 12px;
          font-weight: 400;
          line-height: 1.2;
          font-family: "Open Sans", sans-serif;
          color: var(--primary-black);
        }
      }
      .applySection__body__item__top_box {
        position: absolute;
        top: -3px;
        left: -3px;
        z-index: 2;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
        width: 80px;
        height: 80px;
        border-top-width: 3px;
        border-left-width: 3px;
        border-top-left-radius: 48px;
      }
      .applySection__body__item__bottom_box {
        position: absolute;
        right: -3px;
        bottom: -3px;
        z-index: 2;
        width: 80px;
        height: 80px;
        box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
        border-right-width: 3px;
        border-bottom-width: 3px;
        border-bottom-right-radius: 48px;
      }
    }
  }
}
