@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'OpenSansBold';
    src: local(''), url('./../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans';
    src: local(''), url('./../assets/fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: local(''), url('./../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: local(''), url('./../assets/fonts/Roboto-Regular.ttf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.remove-scrollBar {
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none /* Firefox */;
    -ms-overflow-style: none;
}
.remove-scrollBar::-webkit-scrollbar {
    display: none;
}
a {
    text-decoration: none;
    color: inherit;
}

:root {
    --primary-red: #fa4f08;
    --primary-black: #0a1033;
    --primary-blue: #005bf9;
    --primary-yellow: #feb813;
    --secondary-white: #fffaf9;
    --max-width: 1100px;
}

.input-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.slow-transition {
    transition: all 0.5s ease-in-out;
    &:hover {
        transform: scale(1.02);
    }
}

.apply-section-shadow {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.animate-text-slide {
    opacity: 0;
    animation: fadeInOut 6s linear infinite;
}

@keyframes fadeInOut {
    0%,
    100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.animate-infinite-scroll ul {
    animation: scrollHorizontally 70s linear infinite;
}
@keyframes scrollHorizontally {
    0% {
        transform: translateX(10%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.apply-section-animation-text-falling {
    animation: falling 5s linear infinite;
}
@keyframes falling {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

.animate-character {
    text-transform: uppercase;
    background-image: linear-gradient(-225deg, #231557 0%, #44107a 29%, #ff1361 67%, #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 18px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
