.jobList {
  background-color: #b9beca;
  height: calc(100vh - 70px);
  .main__container {
    width: var(--max-width);
    margin: 0px auto;
    padding: 32px 0px;
    .jobList__container {
      display: flex;
    }
  }
}

.topHeader {
  height: 56px;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 4px;
}
