.jobList {
  background-color: #b9beca;
  height: calc(100vh - 70px);
  overflow-y: scroll;
  overflow-x: hidden;
  .main__container {
    width: 1170px;
    margin: 0px auto;
    padding: 24px 0px;
    .jobList__container {
      display: flex;
    }
  }
}
